<style>
    body {
        font-size: 12px;
    }

    .input {
        font-size: 10px;
        width: 200px;
    }

    #doctor {
        padding-top: 5px;
    }
</style>

<h3>{{viewTitle}}</h3>

<form action="/certificate" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{certificate._id}}" />

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <h5>Person</h5>
                    <input type="hidden" name="id" value="{{certificate.person.id}}" />

                    <div id="body">First Name</div>
                    <input type="text" class="input" name="first_name" placeholder="First Name"
                        value="{{certificate.person.first_name}}" />
                    <br />
                    <div id="body">Last Name</div>
                    <input type="text" class="input" name="last_name" placeholder="Last Name"
                        value="{{certificate.person.last_name}}" />
                    <br />
                    <div id="body">Email</div>
                    <input type="text" class="input" name="email" placeholder="Email"
                        value="{{certificate.person.email}}" />
                    <br />
                    <div id="body">Phone Number</div>
                    <input type="text" class="input" name="phone_number" placeholder="Phone Number"
                        value="{{certificate.person.phone_number}}" />
                    <br />
                    <div id="body">CF</div>
                    <input type="text" class="input" name="CF" placeholder="CF" value="{{certificate.person.CF}}" />
                    <br />
                    <div id="doctor">
                        {{!-- for update: if person is doctor it appears already checked --}}
                        {{#if certificate.person.is_doctor}}
                        <input checked type="checkbox" value="true" name="is_doctor">
                        {{else}}
                        <input type="checkbox" value="true" name="is_doctor">
                        {{/if}}
                        <label>it's a doctor</label>
                    </div>
                </div>


            </div>
            <div class="col">

                <div class="form-group">
                    <h5>Emergency contact</h5>

                    <div id="body">First Name</div>
                    <input type="text" class="input" name="emergency_first_name" placeholder="First Name"
                        value="{{certificate.person.emergency_contact.first_name}}" />
                    <br />
                    <div id="body">Last Name</div>
                    <input type="text" class="input" name="emergency_last_name" placeholder="Last Name"
                        value="{{certificate.person.emergency_contact.last_name}}" />
                    <br />
                    <div id="body">Email</div>
                    <input type="text" class="input" name="emergency_email" placeholder="Email"
                        value="{{certificate.person.emergency_contact.email}}" />
                    <br />
                    <div id="body">Phone Number</div>
                    <input type="text" class="input" name="emergency_phone_number" placeholder="Phone Number"
                        value="{{certificate.person.emergency_contact.phone_number}}" />
                    <br />
                </div>

            </div>
        </div>

    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/certificate/list">View All</a>
    </div>
</form>