<h3><a class="btn btn-secondary" href="/certificate">Create New</a> Certificate List </h3>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Person</th>
            <th>Tests</th>
            <th>Vaccines</th>
        </tr>
    </thread>
    <tbody>
        {{#each list}}
        <tr>
            <td>First Name: {{this.person.first_name}}<br>
                Last Name: {{this.person.last_name}}<br>
                Email: {{this.person.email}}<br>
                Phone Number: {{this.person.phone_number}}<br>
                CF: {{this.person.CF}}</td>
            <td>{{this.tests}}</td>
            <td>{{this.vaccines}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/certificate/{{this.id}}">Edit</a>
                <a class="btn btn-primary btn-sm" href="/certificate/delete/{{this.id}}"
                    onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

#title