<style>
    body {
        font-size: 12px;
    }

    .input {
        font-size: 10px;
        width: 200px;
    }

    #tests_num {
        font-size: 12px;
    }

    #doctor {
        padding-top: 5px;
    }

    #coord input {
        font-size: 10px;
        padding-right: 10px;
        width: 98px;
    }
</style>

<h3>{{viewTitle}}</h3>

<form action="/certificate/{{cert_id}}/test" method="POST" autocomplete="off">

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <h5>Test</h5>

                    <input type="hidden" name="_id" value="{{test._id}}" />
                    {{!-- <input type="hidden" name="cert_id" value="{{cert_id}}" /> --}}


                    <div id="body">Outcome</div>
                    {{#if test.outcome}}
                    <input checked type="checkbox" value="true" name="outcome">
                    {{else}}
                    <input type="checkbox" value="true" name="outcome">
                    {{/if}}
                    <label>true</label>

                    <div id="body">Date</div>
                    <input type="date" class="input" name="date" value="{{test.date}}" /><br />


                </div>
            </div>

            <div class="col">

                <div class="form-group">
                    <h5>Covid Center</h5>
                    <!-- NEED TO ADD ID-->


                    <div id="body">Name</div>
                    <input type="text" class="input" name="covid_center_name" placeholder="Name"
                        value="{{test.covid_center.name}}" />
                    <br />
                    <div id="body">Address</div>
                    <input type="text" class="input" name="covid_center_address" placeholder="Address"
                        value="{{test.covid_center.address}}" />
                    <br />
                    <div id="body">Type</div>
                    <select name="covid_center_type" id="type" value="{{test.covid_center.type}}">
                        <option value="Hospital">Hospital</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Vaccination Hub">Vaccination Hub</option>
                    </select>
                    <br />
                    <div id="coord">
                        <div id="body">Coordinates</div> 
                        <input type="text" name="lat" placeholder="0.0000000" value="{{test.covid_center.location.coordinates.[0]}}" />
                        <input type="text" name="lng" placeholder="0.0000000" value="{{test.covid_center.location.coordinates.[1]}}" />
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="form-group">
                    <h5>Health Worker</h5>
                    <!-- NEED TO ADD ID-->

                    <div id="body">First Name</div>
                    <input type="text" class="input" name="worker_first_name" placeholder="First Name"
                        value="{{test.health_worker.first_name}}" />
                    <br />
                    <div id="body">Last Name</div>
                    <input type="text" class="input" name="worker_last_name" placeholder="Last Name"
                        value="{{test.health_worker.last_name}}" />
                    <br />
                    <div id="body">Phone Number</div>
                    <input type="text" class="input" name="worker_phone_number" placeholder="Phone Number"
                        value="{{test.health_worker.phone_number}}" />
                    <br />
                    <div id="body">Email</div>
                    <input type="text" class="input" name="worker_email" placeholder="Email"
                        value="{{test.health_worker.email}}" />
                    <br />

                </div>
            </div>

        </div>

    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/certificate/{{cert_id}}/tests">View All</a>
    </div>
</form>