<style>
    body {
        font-size: 12px;
    }

    .input {
        font-size: 10px;
        width: 200px;
    }

    #coord input {
        font-size: 10px;
        padding-right: 10px;
        width: 98px;
    }
</style>

<h3>{{viewTitle}}</h3>

<form action="/certificate/{{cert_id}}/vaccine" method="POST" autocomplete="off">

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    <h5>Vaccine</h5>
                    <input type="hidden" name="_id" value="{{vaccine._id}}" />
                    
                    <div id="body">Brand</div>
                    <select name="brand" value="{{vaccine.brand}}">
                        <option value="" selected="selected">Choose one</option>
                        <option value="Johnson&Johnson">Johnson&Johnson</option>
                        <option value="Pfizer">Pfizer</option>
                        <option value="Moderna">Moderna</option>
                        <option value="Astra Zeneca">Astra Zeneca</option>
                    </select>
                    <br />
                    <div id="body">Date</div>
                    <input type="datetime-local" class="input" name="date" value="{{date}}" required/><br />

                </div>
            </div>

            <div class="col">

                <div class="form-group">
                    <h5>Covid Center</h5>

                    <div id="body">Name</div>
                    <input type="text" class="input" name="covid_center_name" placeholder="Name"
                        value="{{vaccine.covid_center.name}}" />
                    <br />
                    <div id="body">Address</div>
                    <input type="text" class="input" name="covid_center_address" placeholder="Address"
                        value="{{vaccine.covid_center.address}}" />
                    <br />
                    <div id="body">Type</div>
                    <select name="covid_center_type" id="type" value="{{vaccine.covid_center.center_type}}">
                        <option value="" selected="selected">Choose one</option>
                        <option value="Hospital">Hospital</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Vaccination Hub">Vaccination Hub</option>
                    </select>
                    <br />
                    <div id="coord">
                        <div id="body">Coordinates</div>
                        <input type="text" class="input" name="lat" placeholder="0.0000000" value="{{vaccine.covid_center.location.coordinates.[0]}}" />
                        <input type="text" class="input" name="lng" placeholder="0.0000000" value="{{vaccine.covid_center.location.coordinates.[1]}}" />
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="form-group">
                    <h5>Health Worker</h5>

                    <div id="body">First Name</div>
                    <input type="text" class="input" name="worker_first_name" placeholder="First Name"
                        value="{{vaccine.health_worker.first_name}}" />
                    <br />
                    <div id="body">Last Name</div>
                    <input type="text" class="input" name="worker_last_name" placeholder="Last Name"
                        value="{{vaccine.health_worker.last_name}}" />
                    <br />
                    <div id="body">Phone Number</div>
                    <input type="text" class="input" name="worker_phone_number" placeholder="Phone Number"
                        value="{{vaccine.health_worker.phone_number}}" />
                    <br />
                    <div id="body">Email</div>
                    <input type="text" class="input" name="worker_email" placeholder="Email"
                        value="{{vaccine.health_worker.email}}" />
                    <br />

                </div>
            </div>

        </div>

    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondary" href="/certificate/{{cert_id}}/vaccines">View All</a>
    </div>
</form>