<h3>{{viewTitle}}</h3>

<form action='/certificate' method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{certificate._id}}">
    <div class="form-group">
        <label>Person</label>
        <input type="text" class="form-control" name="person" placeholder="Person" value="{{certificate.person}}">
    </div>
    <div class="form-group">
        <label>Tests</label>
        <input type="text" class="form-control" name="tests" placeholder="Tests" value="{{certificate.tests}}">
    </div>
    <div class="form-group">
        <label>Vaccines</label>
        <input type="text" class="form-control" name="vaccines" placeholder="Vaccines" value="{{certificate.vaccines}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
        <a class="btn btn-secondsry" href="/certificate/list">View All</a>
    </div>
</form>